* {
    
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;
}

.btn {
    border-radius: 8px;
    border: 1px solid black;
    background: white;
    color: black;
    padding: 12px;
    font-size: 20px;
    transition: all .4s ease-in-out;
}

    .btn:hover {
        cursor: pointer;
    }

    .btn--lrg {
        border-radius: 16px;
        padding: 26px;
        font-size: 36px;
        background: black;
        color: white;
        box-shadow: 0 0 15px 0 rgba(0,0,0,.25);
    }